<div class="row">
  <div class="shadow-lg col-sm-4 p-3">
  <div class="card">
    <img src="assets/images/default-house.png" class="propImg" alt="default-house">
    <div class="card-body p-2">
      <h1 class="card-title">{{Property.Name}}</h1>
      <h2>{{Property.Type}}</h2>
      <h3>{{Property.Price}}</h3>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago kjoihpioio</small></p>
    </div>
  </div>
</div>
</div>
