  <div class="card">
    <div class="card img-wrapper">
      <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}.jpg" alt="default-house">
      <img *ngIf="!property.Image" class="card-img-top" src="assets/images/Default_house.jpg" alt="default-house">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/detail-property/{{property.Id}}"><i class="fas fa-phone"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">C</button>
      </li>
    </ul>
  </div>
    <div class="card-body p-2">
      <h1 >{{property.Name}}</h1>
      <h2>{{property.Type}}</h2>
      <h3>{{property.Price}}</h3>
    </div>
  </div>
